#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

img {
  float: left;
  height: 50px;
  width: 50px;
}

h3 {
  font-size: medium;
}

a {
  font-size: medium
}